* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header  {
  background-color: #404041;
  padding: 10px;
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 60px;
}

.number-header {
  color: #ED458B;
  font-weight: 700;
}

.guesser-header {
  color: #E6E7E8;
  font-weight: 300;
}

form {
  text-align: center;
}

form input:not(:first-child) {
  width: 8vw;
}

label {
  font-size: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

}

strong {
  color: #ED458B;
}

button {
  background-color: #929497;
  border-radius: 15px;
  color: #FFFFFF;
  font-weight: 300;
  padding: 5px;
}

button:disabled {
 background-color: #D0D2D3;
}

button:hover:enabled {
  background-color: #EB008B;
}

section {
  margin: 15px;
  text-align: center;
}

section > button {
  width: 20vw;
}

input {
  margin: 20px 1px 10px;
  width: 40vw;
}

#your-guess-was, #too-high-low {
  color: #404041;
}

#display-guess{
  color: #EB008B;
  font-size: 100px;
}

.reset-button {
  display: block;
  margin: auto;
  width: 40vw;
}
